@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300, 600);
@import url(https://fonts.googleapis.com/css?family=Cormorant+Garamond:300);
@import url(https://fonts.googleapis.com/css?family=Raleway:300);

/*killing all the rounded corners*/
* {
  border-radius: 0px !important;
}

blockquote{
  font-family: "Cormorant Garamond", sans-serif;  
  font-style: italic;
  font-size: 130%;
  color: grey;
}

.post-link{
  background:#f2f2f2;
  padding-left:20px;
  padding-right:20px;
  padding-top:5px;
  padding-bottom:5px;
  margin-bottom:10px;
}

a.blog-link{
  color: grey;
  text-decoration: none;
}

a.blog-link:visited{
  color: grey;
  text-decoration: none;
}

a.blog-link:hover{
  color: grey;
  text-decoration: none;
}

a.blog-link:active{
  color: grey;
  text-decoration: none;
}

.post-title{
  padding-bottom: 0px;
}

p{
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
}

p.small-lineheight{
  line-height: 40%;
}

/*formatting the portfolio preview links on the home page*/

.portfolio-link{
  background-color: #f2f2f2; 
  /*background-image: url("../img/bio-img.jpg");*/
  background-size: 100%;
  background-repeat: no-repeat;
}

.thumbnail {
  border: 0 none;
  box-shadow: none;
  margin:0;
  padding:0;
}

.thumbnail img{
  min-height: 100%;
}

.margin-bottom{
  margin-bottom: 20px;
}

.hovereffect  {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover  {
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.portfolio-link-caption{
  position: absolute;
  top: calc(50% - 34px);
  margin-left:20px;
}

.portfolio-link-caption .project-title{
  color: #333333;
}

.nav{
  font-family: 'Raleway', sans-serif; 
  font-size: 100%; 
  font-weight: 300;
  letter-spacing: 1px;
}

.navbar-brand{
  font-family: 'Raleway', sans-serif; 
  font-size: 100%; 
  font-weight: 300;
  letter-spacing: 1px;
}

.portfolio-header{
  background-color: #f2f2f2;
}

#process{
  background-color: #f2f2f2;
}

.portfolio-info-header{
  font-weight: 600;
}

#mrp{
	/*background-color: #454545;*/
  background: #454545; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(white, #56A4B0); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, #56A4B0); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, #56A4B0); /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, #56A4B0); /* Standard syntax */
}

#blog{
  /*background-color: #f2f2f2;*/
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(white, #f2f2f2); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, #f2f2f2); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, #f2f2f2); /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, #f2f2f2); /* Standard syntax */
}

#blog-body{
  /*letter-spacing: 0.5px;*/
  /*color: #bdbdbd;*/
}

#blog-link{
  display:inline-block;
  padding-left: 20px;
}

#mrp-header{
	/*font-family: "Cormorant Garamond", sans-serif;	*/
	
  /*font-size: 300%;
  letter-spacing: 1px;*/
}

#mrp-body{
  /*font-family: "Cormorant Garamond", sans-serif;  */
  /*font-size: 150%;*/
  /*letter-spacing: 0.5px;*/
  /*color: #bdbdbd;*/
}

#foci{
/*	background-color: #f2f2f2;
*/}


#about {
  padding: 80px 0;
}
#about .block h2 {
  padding-top: 35px;
  line-height: 27px;
  margin: 0;
}
#about .block p {
  color: #7B7B7B;
  padding-top: 20px;
}
#about .block img {
  padding-left: 50px;
  width: 80%;
}
#about .section-title {
  margin-bottom: 0px;
}
#about .section-title p {
  padding-top: 20px;
}

#bio{
	background-color: #f2f2f2; 
	background-image: url("../img/bio-img.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}
#bio .block img {
  width: 90%;
}

/*.service-box{
	padding-left: 0px;
	padding-right: 0px;
}*/