@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300, 600);
@import url(https://fonts.googleapis.com/css?family=Cormorant+Garamond:300);
@import url(https://fonts.googleapis.com/css?family=Raleway:300);

p{
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
}

.nav{
  font-family: 'Raleway', sans-serif; 
  font-size: 100%; 
  font-weight: 300;
  letter-spacing: 1px;
}

.navbar-brand{
  font-family: 'Raleway', sans-serif; 
  font-size: 100%; 
  letter-spacing: 1px;
}

.portfolio-header{
  background-color: #f2f2f2;
}

#process{
  background-color: #f2f2f2;
}

.portfolio-info-header{
  font-weight: 600;
}

#mrp{
	background-color: #454545;
}

#mrp-header{
	font-family: "Cormorant Garamond", sans-serif;	
	font-size: 300%;
  letter-spacing: 1px;
}

#mrp-body{
  font-family: "Cormorant Garamond", sans-serif;  
  font-size: 150%;
  letter-spacing: 0.5px;
  color: #bdbdbd;
}

#foci{
/*	background-color: #f2f2f2;
*/}

#portfolio{
  /*background-color: #f2f2f2;*/
}

#about {
  padding: 80px 0;
}
#about .block h2 {
  padding-top: 35px;
  line-height: 27px;
  margin: 0;
}
#about .block p {
  color: #7B7B7B;
  padding-top: 20px;
}
#about .block img {
  padding-left: 50px;
  width: 80%;
}
#about .section-title {
  margin-bottom: 0px;
}
#about .section-title p {
  padding-top: 20px;
}

#bio{
	background-color: #f2f2f2; 
	background-image: url("../img/bio-img.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}
#bio .block img {
  width: 90%;
}

/*.service-box{
	padding-left: 0px;
	padding-right: 0px;
}*/