<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Hello!</h2>
                <hr class="light">
                <p class="text-faded text-left">My name is Christine, and I’m a designer. I love thinking about how people perceive visuals and I happily spend my time developing media for positive user experiences. At my core I’m a visual problem solver; I use my skills in design, research and programming to craft solutions for visual challenges. I’m particularly interested in data visualization and communication for scientific research and healthcare. To get a better sense of what I do, take a look at some of my work below!</p>
            </div>
        </div>
    </div>
</section>
