<section id="about">
  <div class="container">
	<div class="row">

	<div class="row">
	  <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">
		<div class="block text-center">
		  <img src="img/profile.png" alt="Img">
		</div>
	  </div><!-- .col-md-5 close -->
	</div>

	  <div class="col-md-6 col-md-offset-3  col-xs-10 col-xs-offset-1">
		<div class="block">
			<h2 class="section-heading">Hello!</h2>
		  	<p class="text-muted">My name is Christine, and I’m a designer. I love thinking about how people perceive visuals. I happily spend my time developing media for positive user experiences. What I really care about is conveying information in ways that are both accurate and visually compelling. In particular, I’m excited to do this by creating data visualizations.
		  	<br>
		  	<br>
		  	I'm currently a Master's student at the <a href="https://bmc.med.utoronto.ca/bmc/">University of Toronto</a>.</p>

		  	<div class="row">
			  	<div class="col-lg-1 col-xs-1">
		            <a href="mailto:{{ site.email }}">
			            <i class="fa fa-envelope-o fa-1x wow bounceIn" data-wow-delay=".1s"></i>
		            </a>
	        	</div>
	        	<div class="col-lg-1 col-xs-1">
	        		<a href="https://linkedin.com/in/{{ site.linkedin_username }}">
		            	<i class="fa fa-linkedin fa-1x wow bounceIn" data-wow-delay=".1s"></i>
		            </a>
	        	</div>
	        </div>

		</div>
	  </div><!-- .col-md-7 close -->
	
	</div>


  </div>
</section>