<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Hello!</h2>
                <hr class="light">
                <p class="text-faded text-left">My name is Christine, and I care about doing good and excellent work. I love thinking about how people perceive and understand designs and I’m also interested in finding ways to share information through strong data visualizations. My work mainly focuses on communicating science to both researchers and the general public. At its core, I’m a visual problem solver. I use my skills in design, research, programming, and more to craft solutions for visual challenges. Take a look at some of my work below and let me know if anything catches your eye – I’d love to chat!</p>
                <!-- <a href="#contact" class="btn btn-default btn-xl page-scroll">Who are you?</a> -->
            </div>
        </div>
    </div>
</section>
