
<!-- <section class="bg-primary" id="bio"> -->

<section id="bio">
    <div class="container">
        <div class="row">
              <div class="col-md-5 col-sm-12">
                <div class="block">
                  <img src="img/bio-img.png" alt="Img">
                </div>
              </div><!-- .col-md-5 close -->
            
            <div class="col-lg-7 col-sm-12">
                <h2 class="section-heading">A brief background</h2>
                <!-- <hr class="dark"> -->
                <!-- <p class="text-faded text-left"> -->
                <p class="text-muted">
		            I began by studying life sciences and quickly discovered a love of programming and design. After finishing my undergraduate studies, I worked in a cancer research lab where I developed data visualizations, journal figures and visual narratives for scientific communication. Nowadays I'm working toward finishing my Master's degree in Biomedical Communications, where I'm honing my skills in design, data visualization, storytelling, programming, and illustration. When not freelancing or working on my Master's project, I can be found reading a good book, walking through the woods, or reflecting on how to build strong communities. 
                </p>
            </div>
        </div>
    </div>
</section>

