
<!-- <section class="bg-primary" id="bio"> -->

<section id="bio">
    <div class="container">
        <div class="row">    
            <div class="col-lg-7 col-lg-offset-5 col-sm-12">
            <div class="block">
                <h2 class="section-heading">A brief background</h2>
                <p class="text-muted">
		            I began by studying life sciences and quickly discovered a love of design and programming. After finishing my undergraduate studies, I worked in a cancer research lab where I developed data visualizations, journal figures and visual narratives for scientific communication. Nowadays I'm finishing my Master's degree in Biomedical Communications. When I’m not working on my research project, I can be found reading a good book, walking through the woods, or reflecting on how to build strong communities.
                </p>
            </div>
            </div>
        </div>
    </div>
</section>

