
<section class="text-left" id="foci">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="section-heading">Here are a few of my favourite things</h2>
				<br>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row center-block">
			
			<div class="col-md-1 col-sm-1 service-box  text-center">
				<i class="fa fa-4x fa-desktop wow bounceIn text-primary" data-wow-delay=".0s"></i>
			</div>
			<div class="col-md-3 col-sm-5">
				<div class="service-box">
					<h4>UX Design</h4>
					<p class="text-muted">When I start a project, I always think about who will use it. And if I can, I talk to that person.</p>
					<br>
				</div>
			</div>

			<div class="col-md-1 col-sm-1 service-box  text-center">
				<i class="fa fa-4x fa-bar-chart wow bounceIn text-primary" data-wow-delay=".1s"></i>
			</div>	
			<div class="col-md-3 col-sm-5">
				<div class="service-box">
					<h4>Data Visualization</h4>
					<p class="text-muted">There is an abundance of information that won't be understood without good design. That's where I come in.</p>
					<br>
				</div>
			</div>

			<div class="col-md-1 col-sm-1 service-box text-center">
				<i class="fa fa-4x fa-code-fork wow bounceIn text-primary" data-wow-delay=".4s"></i>
			</div>
			<div class="col-md-3 col-sm-5">
				<div class="service-box">
					<h4>Programming</h4>
					<p class="text-muted">Often as I work on new ideas a voice in my head chirps up: "How can I write a program to do this?"</p>
					<br>
				</div>
			</div>

		</div>

		<div class="row center-block">

			<div class="col-md-1 col-sm-1 service-box text-center">
				<i class="fa fa-4x fa-comment-o wow bounceIn text-primary" data-wow-delay=".5s"></i>
			</div>
			<div class="col-md-3 col-sm-5">
				<div class="service-box">
					<h4>Storytelling</h4>
					<p class="text-muted">Narratives are powerful! I tell stories by making comics and planning the paths people take in navigating a piece.</p>
					<br>
				</div>
			</div>

			<div class="col-md-1 col-sm-1 service-box text-center">
				<i class="fa fa-4x fa-file-text-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
			</div>
			<div class="col-md-3 col-sm-5">
				<div class="service-box">
					<h4>Type & Layout</h4>
					<p class="text-muted">My current font crush is Source Sans Pro Light. I've been using it everywhere (including right here).</p>
					<br>
				</div>
			</div>


			<div class="col-md-1 col-sm-1 service-box  text-center">
				<i class="fa fa-4x fa-pencil wow bounceIn text-primary" data-wow-delay=".6s"></i>
			</div>
			<div class="col-md-3 col-sm-5">
				<div class="service-box">
					<h4>Illustration</h4>
					<p class="text-muted">My goals is to make things clear and intelligible: whether through words, analogies, or art and design.</p>
					<br>
				</div>
			</div>
		</div>
		</div>
	</div>
</section>
