<header>
	<link href="https://fonts.googleapis.com/css?family=Raleway:700" rel="stylesheet">
    <div class="header-content">
        <div class="header-content-inner" >
            <h1 class="display-1" style="font-family: 'Raleway', sans-serif; letter-spacing: 5px">Christine P'ng</h1>
            <!-- <hr> -->
            <br>
            <p>Excellence in design for scientific communication</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Learn more</a>
        </div>
    </div>
</header>
