<header class="site-header">

  <div class="wrapper">

    <nav class="site-nav">
      <div class="trigger">
        <!-- {{ site.title }} instead of blog -->

        <span class="nav-home">
          <a class="logo-link page-link" href="{{ site.baseurl }}/">Christine P'ng</a>
        </span>

        <span class="nav-links">
        
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
        
        </span>

      </div>
    </nav>

  </div>

</header>
