
<header>
    <link href="https://fonts.googleapis.com/css?family=Raleway:700" rel="stylesheet">
    <div class="header-content text-left " style="color:#4F5052">
        <!-- <div class="header-content-inner text-left" > -->
            <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-left">
                <br>
                <br>
                <br>
                <h2 class="section-heading text-left">{{page.title}}</h2>
                <p>{{page.subtitle}}</p>
           </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-left">
                <br>
                <p class="text-dark">{{page.intro}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-left">
                <br>
                <p class="small-lineheight"><span class="portfolio-info-header">Supervisor:</span> {{page.supervisor}}</p>
                <p class="small-lineheight"><span class="portfolio-info-header">Content advisor:</span> {{page.content_advisor}}</p>
                <p class="small-lineheight"><span class="portfolio-info-header">Second voting member:</span> {{page.second_voting_member}}</p>
           </div>
        </div>
        <!-- </div> -->
    </div>
</header>

