<section class="portfolio-header text-left" >
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <br>
                <br>
                <br>
                <h2 class="section-heading text-left">Design challenges</h2>
                
           </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <br>
                <p class="text-dark">{{page.design_challenges}}</p>
            </div>
        </div>

   
    </div>     
</section>   