<link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet">

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top" style="font-family: 'Raleway', sans-serif; font-weight: 300; font-size: 100%; letter-spacing: 1px">Christine P'ng</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right" >
                <li>
                    <a class="page-scroll" href="#about" style="font-family: 'Raleway', sans-serif; font-weight: 300; font-size: 95%; letter-spacing: 1px">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#foci" style="font-family: 'Raleway', sans-serif; font-weight: 300; font-size: 95%; letter-spacing: 1px">Foci</a>
                </li>
                <li>
                    <a class="page-scroll" href="#portfolio" style="font-family: 'Raleway', sans-serif; font-weight: 300; font-size: 95%; letter-spacing: 1px">Work</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact" style="font-family: 'Raleway', sans-serif; font-weight: 300; font-size: 95%; letter-spacing: 1px">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
