
<div id="navbar">
	<ul>
		<li><a href="#">Home</a></li>
		<li><a href="#">About</a></li>
		<li><a href="#">Art</a></li>
		<li><a href="#">Work</a></li>
	</ul>
</div>

<hr>
<!--
<div id="navbar">
	<ul>
		<li><a href="#">Home</a></li>
		<li><a href="#">About</a></li>
		<li><a href="#">Comics</a></li>
		<li><a href="#">Paintings</a></li>
		<li><a href="#">Books</a></li>
		<li><a href="#">Design</a></li>
		<!--
		<li><a href="#">Professional Interests</a></li>
			<ul>
				<li><a href="#">Scientific Illustration</a></li>
				<li><a href="#">Data visualization</a></li>
				<li><a href="#">Computer Programming</a></li>
				<li><a href="#">User Experience Design</a></li>
			</ul>
		<li><a href="#">Personal Interests</a></li>
			<ul>
				<li><a href="#">Comics</a></li>
				<li><a href="#">Painting</a></li>
				<li><a href="#">Theology</a></li>
				<li><a href="#">Community</a></li>
			</ul>	
		
	<ul>
</div>
-->