<section id="portfolio">
	<div class="container text-left">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="section-heading">Projects</h2>
				<br>
			</div>
		</div>
	</div>

	<!-- creating the individual portfolio items -->
	<div class="container text-left">
		
		<div class="row no-gutter col-lg-12 margin-bottom">
			<a href="mrp" class="thumbnail portfolio-link hovereffect">
				<img src="img/thumbnail/adam.jpg" class="img-responsive" alt="">
					<div class="overlay">
					<div class="portfolio-link-caption">
						<div class="portfolio-link-caption-content">
							<div class="project-title text-primary">
								<h4>Master's Research Project</h4>
							</div>
							<div class="project-subtitle text-muted">
								<p>Homelessness & health: a narrative data visualization</p>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>

		<div class="row no-gutter col-lg-12 margin-bottom">
			<a href="project-anthracycline3D" class="thumbnail portfolio-link hovereffect">
				<img src="img/thumbnail/im3d.jpg" class="img-responsive" alt="">
					<div class="overlay">
					<div class="portfolio-link-caption">
						<div class="portfolio-link-caption-content">
							<div class="project-title text-faded">
								<h4>Presentation slide</h4>
							</div>
							<div class="project-subtitle text-muted">
								<p>Breast cancer research: hypothesis of anthracycline mechanism
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>

		<div class="row no-gutter col-lg-12 margin-bottom">
			<a href="project-anthracycline2D" class="thumbnail portfolio-link hovereffect">
				<img src="img/thumbnail/im2d.jpg" class="img-responsive" alt="">
					<div class="overlay">
					<div class="portfolio-link-caption">
						<div class="portfolio-link-caption-content">
							<div class="project-title text-faded">
								<h4>Journal figure</h4>
							</div>
							<div class="project-subtitle text-muted">
								<p>Breast cancer research: hypotheses of anthracycline mechanisms
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>

		<div class="row no-gutter col-lg-12 margin-bottom">
			<a href="project-mi" class="thumbnail portfolio-link hovereffect">
				<img src="img/thumbnail/mcro.jpg" class="img-responsive" alt="">
					<div class="overlay">
					<div class="portfolio-link-caption">
						<div class="portfolio-link-caption-content">
							<div class="project-title text-faded">
								<h4>Scientific illustration</h4>
							</div>
							<div class="project-subtitle text-muted">
								<p>Pathophysiology of a myocardial infarction
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>

<!-- 		<div class="row no-gutter col-lg-12 margin-bottom">
			<a href="project-medlegal" class="thumbnail portfolio-link hovereffect">
				<img src="img/thumbnail/medlegal.jpg" class="img-responsive" alt="">
					<div class="overlay">
					<div class="portfolio-link-caption">
						<div class="portfolio-link-caption-content">
							<div class="project-title text-faded">
								<h4>Medical Legal Visualization</h4>
							</div>
							<div class="project-subtitle text-muted">
								<p>Sequential illustration for the courtroom
							</div>
						</div>
					</div>
				</div>
			</a>
		</div> -->

		<div class="row no-gutter col-lg-12 margin-bottom">
			<a href="project-surgery" class="thumbnail portfolio-link hovereffect">
				<img src="img/thumbnail/surgery.jpg" class="img-responsive" alt="">
					<div class="overlay">
					<div class="portfolio-link-caption">
						<div class="portfolio-link-caption-content">
							<div class="project-title text-faded">
								<h4>Surgical illustration</h4>
							</div>
							<div class="project-subtitle text-muted">
								<p>Cervical decompression and fusion
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>  
<!-- 		<div class="row no-gutter col-lg-12 margin-bottom">
			<a href="#" class="thumbnail portfolio-link hovereffect">
				<img src="img/thumbnail/lionfish.jpg" class="img-responsive" alt="">
					<div class="overlay">
					<div class="portfolio-link-caption">
						<div class="portfolio-link-caption-content">
							<div class="project-title text-faded">
								<h4>Lionfish model</h4>
							</div>
							<div class="project-subtitle text-muted">
								<p>Mock journal cover
							</div>
						</div>
					</div>
				</div>
			</a>
		</div> -->

		<div class="row no-gutter col-lg-12 margin-bottom">
			<a href="project-molportrait" class="thumbnail portfolio-link hovereffect">
				<img src="img/thumbnail/mol.jpg" class="img-responsive" alt="">
					<div class="overlay">
					<div class="portfolio-link-caption">
						<div class="portfolio-link-caption-content">
							<div class="project-title text-faded">
								<h4>Molecular portrait</h4>
							</div>
							<div class="project-subtitle text-muted">
								<p>Topoisomerase
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>

<!-- 		<div class="row no-gutter col-lg-12 margin-bottom">
			<a href="project-superficialpalm" class="thumbnail portfolio-link hovereffect">
				<img src="img/thumbnail/hand.jpg" class="img-responsive" alt="">
					<div class="overlay">
					<div class="portfolio-link-caption">
						<div class="portfolio-link-caption-content">
							<div class="project-title text-faded">
								<h4>Superficial palm</h4>
							</div>
							<div class="project-subtitle text-muted">
								<p>Vector lineart
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
 -->
		<div class="row no-gutter col-lg-12 margin-bottom">
			<a href="project-bonesofthefoot" class="thumbnail portfolio-link hovereffect">
				<img src="img/thumbnail/bones.jpg" class="img-responsive" alt="">
					<div class="overlay">
					<div class="portfolio-link-caption">
						<div class="portfolio-link-caption-content">
							<div class="project-title text-faded">
								<h4>Carbon dust illustration</h4>
							</div>
							<div class="project-subtitle text-muted">
								<p>Bones of the foot</p>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>

	<div>
</section>
