<section id="portfolio">
	<div class="container text-left">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="section-heading">Projects</h2>
				<br>
			</div>
		</div>
	</div>

	<!-- creating the individual portfolio items -->
	<div class="container text-left">
		
		<div class="row no-gutter col-lg-12 margin-bottom">
			<a href="mrp" class="thumbnail portfolio-link hovereffect">
				<img src="img/thumbnail/grey0.jpg" class="img-responsive" alt="">
					<div class="overlay">
					<div class="portfolio-link-caption">
						<div class="portfolio-link-caption-content">
							<div class="project-title text-primary">
								<h4>Master's Research Project</h4>
							</div>
							<div class="project-subtitle text-muted">
								<p>Homelessness & health: a narrative data visualization</p>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>

		<div class="row no-gutter col-lg-12 margin-bottom">
			<a href="project-anthracycline3D" class="thumbnail portfolio-link hovereffect">
				<img src="img/thumbnail/im3d.jpg" class="img-responsive" alt="">
					<div class="overlay">
					<div class="portfolio-link-caption">
						<div class="portfolio-link-caption-content">
							<div class="project-title text-faded">
								<h4>Breast cancer research</h4>
							</div>
							<div class="project-subtitle text-muted">
								<p>Presentation slide: hypothesis of anthracycline mechanism
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>

		<div class="row no-gutter col-lg-12 margin-bottom">
			<a href="project-anthracycline2D" class="thumbnail portfolio-link hovereffect">
				<img src="img/thumbnail/im2d.jpg" class="img-responsive" alt="">
					<div class="overlay">
					<div class="portfolio-link-caption">
						<div class="portfolio-link-caption-content">
							<div class="project-title text-faded">
								<h4>Drug mechanism of action</h4>
							</div>
							<div class="project-subtitle text-muted">
								<p>Journal figure: hypotheses of anthracycline mechanisms
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>

		<div class="row no-gutter col-lg-12 margin-bottom">
			<a href="project-mi" class="thumbnail portfolio-link hovereffect">
				<img src="img/thumbnail/mcro.jpg" class="img-responsive" alt="">
					<div class="overlay">
					<div class="portfolio-link-caption">
						<div class="portfolio-link-caption-content">
							<div class="project-title text-faded">
								<h4>Myocardial infarction</h4>
							</div>
							<div class="project-subtitle text-muted">
								<p>Scientific illustration of pathophysiology
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>

<!-- 		<div class="row no-gutter col-lg-12 margin-bottom">
			<a href="#" class="thumbnail portfolio-link hovereffect">
				<img src="img/thumbnail/lionfish.jpg" class="img-responsive" alt="">
					<div class="overlay">
					<div class="portfolio-link-caption">
						<div class="portfolio-link-caption-content">
							<div class="project-title text-faded">
								<h4>Lionfish model</h4>
							</div>
							<div class="project-subtitle text-muted">
								<p>Mock journal cover
							</div>
						</div>
					</div>
				</div>
			</a>
		</div> -->

		<div class="row no-gutter col-lg-12 margin-bottom">
			<a href="project-molportrait" class="thumbnail portfolio-link hovereffect">
				<img src="img/thumbnail/mol.jpg" class="img-responsive" alt="">
					<div class="overlay">
					<div class="portfolio-link-caption">
						<div class="portfolio-link-caption-content">
							<div class="project-title text-faded">
								<h4>Topoisomerase</h4>
							</div>
							<div class="project-subtitle text-muted">
								<p>Molecular portrait
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>

		<div class="row no-gutter col-lg-12 margin-bottom">
			<a href="project-superficialpalm" class="thumbnail portfolio-link hovereffect">
				<img src="img/thumbnail/hand.jpg" class="img-responsive" alt="">
					<div class="overlay">
					<div class="portfolio-link-caption">
						<div class="portfolio-link-caption-content">
							<div class="project-title text-faded">
								<h4>Superficial palm</h4>
							</div>
							<div class="project-subtitle text-muted">
								<p>Vector lineart
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>

		<div class="row no-gutter col-lg-12 margin-bottom">
			<a href="project-bonesofthefoot" class="thumbnail portfolio-link hovereffect">
				<img src="img/thumbnail/bones.jpg" class="img-responsive" alt="">
					<div class="overlay">
					<div class="portfolio-link-caption">
						<div class="portfolio-link-caption-content">
							<div class="project-title text-faded">
								<h4>Bones of the foot</h4>
							</div>
							<div class="project-subtitle text-muted">
								<p>Carbon dust illustration</p>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>

	<div>
</section>
