<section id="portfolio">
	
	<div class="container-fluid">
 		<div class="row no-gutter col-lg-10 col-lg-offset-1 col-sm-10 col-sm-offset-1">
 			 
      <div class="col-lg-6 col-xs-12" style="padding-right:5px; padding-left:5px; padding-bottom:10px">
        <a href="mrp" class="portfolio-box">
          <img src="img/thumbnail/grid-mrp.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                <!-- Narrative data visualization -->
              </div>
              </div>
            </div>
        </a>
      </div>
      
      <div class="col-lg-6 col-xs-12" style="padding-right:5px; padding-left:5px; padding-bottom:10px">
        <a href="project-trees" class="portfolio-box">
          <img src="img/thumbnail/grid-trees.png" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                <!-- Presentation Slide -->
              </div>
              </div>
            </div>
        </a>
      </div>

      <div class="col-lg-6 col-xs-12" style="padding-right:5px; padding-left:5px; padding-bottom:10px">
        <a href="project-pubmed" class="portfolio-box">
          <img src="img/thumbnail/grid-pubmed.png" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                <!-- Presentation Slide -->
              </div>
              </div>
            </div>
        </a>
      </div>      

      <div class="col-lg-6 col-xs-12" style="padding-right:5px; padding-left:5px; padding-bottom:10px">
        <a href="project-anthracycline3D" class="portfolio-box">
          <img src="img/thumbnail/grid-anthracycline3d.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                <!-- Presentation Slide -->
              </div>
              </div>
            </div>
        </a>
      </div>

 			 <div class="col-lg-6 col-xs-12" style="padding-right:5px; padding-left:5px; padding-bottom:10px">
 				<a href="project-mi" class="portfolio-box">
 					<img src="img/thumbnail/grid-mi.jpg" class="img-responsive" alt="">
 					<div class="portfolio-box-caption">
 						<div class="portfolio-box-caption-content">
 							<div class="project-category text-faded">
 								<!-- Myocardial infarction -->
 							</div>
  						</div>
  					</div>
  				</a>
 			</div>
      


      <div class="col-lg-6 col-xs-12" style="padding-right:5px; padding-left:5px; padding-bottom:10px">
        <a href="project-molportrait" class="portfolio-box">
          <img src="img/thumbnail/grid-molportrait.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                <!-- Molecular portrait -->
              </div>
              </div>
            </div>
        </a>
      </div>

<!--     <div class="col-lg-6 col-xs-12" style="padding-right:5px; padding-left:5px; padding-bottom:10px">
        <a href="project-medlegal" class="portfolio-box">
          <img src="img/thumbnail/grid-medlegal.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
              </div>
              </div>
            </div>
        </a>
      </div>

      <div class="col-lg-6 col-xs-12" style="padding-right:5px; padding-left:5px; padding-bottom:10px">
        <a href="project-carbonemissions" class="portfolio-box">
          <img src="img/thumbnail/grid-carbonemissions.png" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
              </div>
              </div>
            </div>
        </a>
      </div> -->

 			 <div class="col-lg-6 col-xs-12" style="padding-right:5px; padding-left:5px; padding-bottom:10px">
 				<a href="project-surgery" class="portfolio-box">
 					<img src="img/thumbnail/grid-surg.jpg" class="img-responsive" alt="">
 					<div class="portfolio-box-caption">
 						<div class="portfolio-box-caption-content">
 							<div class="project-category text-faded">
 								<!-- Surgical Illustration -->
 							</div>
  						</div>
  					</div>
  				</a>
 			</div>

			<div class="col-lg-6 col-xs-12" style="padding-right:5px; padding-left:5px; padding-bottom:10px">
 				<a href="project-bonesofthefoot" class="portfolio-box">
 					<img src="img/thumbnail/grid-footbones.jpg" class="img-responsive" alt="">
 					<div class="portfolio-box-caption">
 						<div class="portfolio-box-caption-content">
 							<div class="project-category text-faded">
 								<!-- Bones of the Foot -->
 							</div>
  						</div>
  					</div>
 				</a>
 			</div>
			  			
 		</div>
 	</div>

</section>
