<section class="portfolio-header text-left" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            	<br>
            	<br>
            	<br>
                <h2 class="section-heading text-left">{{page.title}}</h2>
            </div>
        </div>

        <div class="row">

        <div class="col-lg-12">
            <div class="col-lg-8 col-md-6 no-padding">
                <br>
                <p class="text-dark">{{page.description}}</p>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="row">
                    <div class="col-lg-1">
                        <div class="service-box">
                            <i class="fa fa-2x fa-user wow bounceIn text-secondary" data-wow-delay=".0s"></i>
                        </div>                        
                    </div>
                    <div class="col-lg-2">
                        <div class="service-box">
                            <p class="portfolio-info-header">Client</p>
                        </div>  
                    </div>
                    <div class="col-lg-8 col-lg-offset-1">
                        <div class="service-box">
                            <p>{{page.client}}</p>
                        </div>  
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-1">
                        <div class="service-box">
                            <i class="fa fa-2x fa-magic wow bounceIn text-secondary" data-wow-delay=".1s"></i>
                        </div>                        
                    </div>
                    <div class="col-lg-2">
                        <div class="service-box">
                            <p class="portfolio-info-header">Tools</p>
                        </div>  
                    </div>
                    <div class="col-lg-8 col-lg-offset-1">
                        <div class="service-box">
                            <p>{{page.tools}}</p>
                        </div>  
                    </div>                    
                </div>

                <div class="row">
                    <div class="col-lg-1">
                        <div class="service-box">
                            <i class="fa fa-2x fa-calendar-o wow bounceIn text-secondary" data-wow-delay=".2s"></i>
                        </div>                        
                    </div>
                    <div class="col-lg-2">
                        <div class="service-box">
                            <p class="portfolio-info-header">Date</p>
                        </div>  
                    </div>
                    <div class="col-lg-8 col-lg-offset-1">
                        <div class="service-box">
                            <p>{{page.date}}</p>
                        </div>  
                    </div>  
                </div>

                <div class="row">
                    <div class="col-lg-1">
                        <div class="service-box">
                            <i class="fa fa-2x fa-globe wow bounceIn text-secondary" data-wow-delay=".3s"></i>
                        </div>                        
                    </div>
                    <div class="col-lg-2">
                        <div class="service-box">
                            <p class="portfolio-info-header">Audience</p>
                        </div>  
                    </div>
                    <div class="col-lg-8 col-lg-offset-1">
                        <div class="service-box">
                            <p>{{page.audience}}</p>
                        </div>  
                    </div>
                </div>
            </div>

            
            </div>
        </div>        
    </div>
</section>    