<section id="description" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Description</h2>
                <hr class="light">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-left">
                <!-- <h2 class="section-heading">Details</h2> -->
                <!-- <hr class="primary"> -->
                <p class="text-faded">{{page.description}}</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row center-block">
            <div class="col-lg-3 col-md-4 col-sm-6 text-center">
                <div class="service-box">
                    <i class="fa fa-2x fa-user wow bounceIn text-secondary" data-wow-delay=".0s"></i>
                    <h5 class="text-faded">Client</h5>
                    <h4>{{page.client}}</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 text-center">
                <div class="service-box">
                    <i class="fa fa-2x fa-magic wow bounceIn text-secondary" data-wow-delay=".1s"></i>
                    <h5 class="text-faded">Tools</h5>
                    <h4>{{page.tools}}</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 text-center">
                <div class="service-box">
                    <i class="fa fa-2x fa-calendar wow bounceIn text-secondary" data-wow-delay=".2s"></i>
                    <h5 class="text-faded">Date</h5>
                    <h4>{{page.date}}</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 text-center">
                <div class="service-box">
                    <i class="fa fa-2x fa-photo wow bounceIn text-secondary" data-wow-delay=".3s"></i>
                    <h5 class="text-faded">Display</h5>
                    <h4>{{page.display}}</h4>
                </div>
            </div>
        </div>
        
    </div>
</section>