<section class="header-bg">
    <link href="https://fonts.googleapis.com/css?family=Raleway:700" rel="stylesheet">

    <div class="header-content ">
        <br>
        <br>
        <br>        
            <div class="row col-lg-8 col-lg-offset-2 col-xs-10 col-xs-offset-1 text-left">
                <h2 class="section-heading text-left" style="color:#4F5052">{{page.title}}</h2>
                <p class="text-dark text-left" style="color:#4F5052">{{page.description}}</p>
            </div>

            <div class="row col-lg-8 col-lg-offset-2 col-xs-10 col-xs-offset-1 text-left">
                    <br>
                    <p class="small-lineheight"><span class="portfolio-info-header">Tools:</span> {{page.tools}}</p>
                    <p class="small-lineheight"><span class="portfolio-info-header">Audience:</span> {{page.audience}}</p>
            </div>
   
    </div>
</section>

